<div class="mt-5 d-flex w-100 flex-column align-items-center justify-content-between">
  <h1 class="h3"><%= t'links.edit' %></h1>
  <%= render 'form', mining: @mining %>
  <div class="d-flex justify-content-around container">
    <div class="container d-flex justify-content-around col-xs-6 col-sm-8 col-md-6 col-lg-4">
      <%= link_to (t'links.show'), @mining, class:'btn btn-dark' %>
      <%= link_to (t'links.back'), minings_path, class:'btn btn-dark' %>
    </div>
  </div>
</div>