<div class="mt-5 d-flex w-100 flex-column align-items-center justify-content-between">
  <h1><%= t'links.edit' %></h1>
  <%= render 'form', mining: @mining %>
  <%= link_to (t'links.show'), @mining %>
  <%= link_to (t'links.back'), minings_path %>
</div>