<div class="mt-5 d-flex w-100 flex-column align-items-center justify-content-between">
  <h1 class="h4"><%= t'coin.new_mining' %></h1>
  <%= render 'form', mining: @mining %>
  <%= link_to (t'links.back'), minings_path %>
</div>
