<div class="my-4 container-fluid d-flex justify-content-around m-2 text-danger opacity-50">
  <span> <%= where_am_i %> </span>
  <span><%= current_locale %></span>
  <span><%= t('hello') %></span>
<!--  <span><%#= I18n.l(Date.time) %></span>-->
</div>

<h2 class="text-danger text-center"><%= @test_calling_params %></h2>

<div class="container col-lg-7 col-md-10 col-sm-12 bg-light p-4 mt-4">
  <h2>What is a cryptocurrency wallet?</h2>
  <p>A cryptocurrency wallet is an app that allows cryptocurrency users to store and retrieve their digital assets. As with conventional currency, you don’t need a wallet to spend your cash, but it certainly helps to keep it all in one place. When a user acquires cryptocurrency, such as bitcoins, she can store it in a cryptocurrency wallet and from there use it to make transactions.</p>

  <h3>Deeper definition</h3>
  <p>Cryptocurrency wallets are apps just like those you might run on a smartphone or computer. If you prefer the tactile experience of holding a wallet, you can also buy a physical device that runs a wallet app.</p>
  <p>The first cryptocurrency wallet was introduced by Satoshi Nakamoto when he first released the bitcoin protocol in 2009. Bitcoin is the most popular and widely used cryptocurrency, but others building upon its blockchain technology have emerged, and any of them can be stored on a cryptocurrency wallet. Wallets can hold multiple cryptocurrencies.</p>
  <p>When you want to acquire cryptocurrency, whether by purchasing it in a currency exchange or receiving it as a gift or as revenue, you direct the sender to a unique cryptographic address issued by the wallet. You might picture your cryptocurrency stored on the wallet the same way files are stored on a USB drive, but, in fact, the information stored on the wallet only points to your cash’s location on the blockchain, the public ledger that records and authenticates all transactions for a cryptocurrency. Spending with the wallet is as simple as scanning a retailer’s QR code or directing a specific amount of cryptocoins to the retailer’s public address.</p>
  <p>Some economists warn that cryptocurrency makes for a lousy investment. You might be better off using Bankrate’s comparison of investment rates.</p>

  <h3>Cryptocurrency wallet example</h3>
  <p>For Bilbo’s 112th birthday, Frodo wants to send him some money. He decides to send bitcoin, which has been appreciating in value. Bilbo has a cryptocurrency wallet app on his Apple Watch, and he gives Frodo the public address. That following September 22, Frodo sends one bitcoin to the public address. Once that transaction is authenticated on the blockchain, Bilbo becomes the owner of the bitcoin. Later, Bilbo wants to book a flight to Gondor. His travel agent accepts bitcoin, and he directs a precise amount from his bitcoin wallet to the travel agent and receives a plane ticket in return.</p>
</div>
